<p id="notice"><%= notice %></p>

<p>
  <strong>Saleable:</strong>
  <%= @sale.saleable_id %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @sale.transaction_type %>
</p>

<p>
  <strong>Label revenue:</strong>
  <%= @sale.label_revenue %>
</p>

<p>
  <strong>Artist revenu:</strong>
  <%= @sale.artist_revenu %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
