<!DOCTYPE html>
<html>
  <head>
    <title>EddyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons&Oswald', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Oswald', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css', media: 'all', 'data-turbolinks-track' => 'reload' %>

    <%= stylesheet_link_tag 'bulma.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
